In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import seaborn as sn
import datetime

In [2]:
def Spending(All,Category,idens,debug=False,write=True):
    ico=[]
    shp=np.shape(All)
    ilength = shp[0]
    maxindx = np.max( All.index )
    #print(maxindx,ilength)
    #for idx in np.arange():
    for idx in All.index:
        if (  any(item in str(aaa['Memo'][idx]).upper() for item in idens)):
            if( debug==True):
                print(aaa['Memo'][idx],aaa['Amount Debit'][idx])
            ico.append(idx)
            
    globals()[Category] = All.loc[ico] 
    print(Category+" ====>", np.sum(globals()[Category]['Amount Debit']))
    if (write==True):
        CatFile='/Users/juliob/Desktop/grocer/' +Category+'.csv'
        globals()[Category].to_csv(CatFile)

In [3]:
def Checks(All,Category='Drafts',idens=['DRAFT',],debug=False,write=True):
    ico=[]
    shp=np.shape(All)
    ilength = shp[0]
    maxindx = np.max( All.index )
    #print(maxindx,ilength)
    #for idx in np.arange():
    for idx in All.index:
        if (  any(item in str(aaa['Description'][idx]).upper() for item in idens)):
            if( debug==True):
                print(aaa['Memo'][idx],aaa['Amount Debit'][idx])
            ico.append(idx)
            
    globals()[Category] = All.loc[ico] 
    print(Category+" ====>", np.sum(globals()[Category]['Amount Debit']))
    if (write==True):
        CatFile='/Users/juliob/Desktop/grocer/' +Category+'.csv'
        globals()[Category].to_csv(CatFile)

In [4]:
def InitCategory(ncol=30):

    colms=['Category']
    idata=['ABCDE12345']
    ncol=30
    for i in np.arange(ncol):
        colms.append('code'+str(i+1))
        idata.append('ABCDE12345')

    df=pd.DataFrame(columns=colms)
    df.loc[0]=idata
    
    return df

In [5]:
""" 
Pandas here is a bit like Xarray, i.e., it let's us read in data
and maninipulte it aithe statements like data['XYZ'] etc.
"""

file='/Users/juliob/Desktop/grocer/All-Dec-1-2022-Mar-19-2023.csv'
file='/Users/juliob/Desktop/grocer/All-Feb-20-23-Mar-25-23.csv'
aaa=pd.read_csv(file,skiprows=[0,1,2] )
aaa

,Transaction Number,Date,Description,Memo,Amount Debit,Amount Credit,Balance,Check Number,Fees
0,20230325000000[-7:MST]*-29.71*42**Withdrawal,03/25/2023,Withdrawal,SHELL OIL 57445345408 LONGMONT CO Date 03/24/2...,-29.71,NaN,3306.41,NaN,NaN
1,20230325000000[-7:MST]*-41.52*13**Withdrawal #...,03/25/2023,Withdrawal #000072013602,PETSMART # 1130 1125 S. HOVER STREET LONGMONT ...,-41.52,NaN,3336.12,NaN,NaN
2,20230325000000[-7:MST]*-19.07*42**Withdrawal,03/25/2023,Withdrawal,STARBUCKS STORE 29706 LAFAYETTE CO Date 03/24/...,-19.07,NaN,3377.64,NaN,NaN
3,20230325000000[-7:MST]*-75.00*42**Withdrawal,03/25/2023,Withdrawal,TST* The Roost 303-827-3380 CO Date 03/25/23 2...,-75.00,NaN,3396.71,NaN,NaN
4,20230325000000[-7:MST]*-37.44*42**Withdrawal,03/25/2023,Withdrawal,PY *LONGMONT LONGMONT CO Date 03/24/23 2444500...,-37.44,NaN,3471.71,NaN,NaN
...,...,...,...,...,...,...,...,...,...
212,20230220000000[-7:MST]*-60.58*42**Withdrawal,02/20/2023,Withdrawal,LONGTUCKY SPIRITS LONGMONT CO Date 02/19/23 24...,-60.58,NaN,987.38,NaN,NaN
213,20230220000000[-7:MST]*-56.80*14**Withdrawal B...,02/20/2023,Withdrawal Bill Payment,#000000912445 AFFIRM PAY W9G SAN FRANCISCO CA ...,-56.80,NaN,1047.96,NaN,NaN
214,20230220000000[-7:MST]*-10.40*42**Withdrawal,02/20/2023,Withdrawal,Wikipedia Gift 877-6009454 CA Date 02/20/23 24...,-10.40,NaN,1104.76,NaN,NaN
215,20230220000000[-7:MST]*-400.00*12**Withdrawal ...,02/20/2023,Withdrawal Home Banking,"Transfer To BACMEISTER,CLARA 0000237413 Share ...",-400.00,NaN,1115.16,NaN,NaN
216,20230220000000[-7:MST]*1000.00*512**Deposit Ho...,02/20/2023,Deposit Home Banking Transfer,From Loan 0056 Online Banking Transfer 02/19/2...,NaN,1000.0,1515.16,NaN,NaN

In [ ]:
# Testing out pandas DataFrame creation
# This cell has no effect on following cells

colms=['Category']
idata=['ABCDE12345']
ncol=30
for i in np.arange(ncol):
    colms.append('code'+str(i+1))
    idata.append('ABCDE12345')

df=pd.DataFrame(columns=colms)
col=df.columns
df.loc[0]=idata
df['Category'].loc[0]='Poo'
df[col[1]].loc[0]='Tlacui'
df[col[4]].loc[0]='gyO~@'
df

In [ ]:
#shp_aaa=np.shape(aaa)
#ilength = shp_aaa[0]
print("Total Debits <==", np.sum(aaa['Amount Debit']))
print("Total Credits <==", np.sum(aaa['Amount Credit']))
print("Difference.   ==>", np.sum(aaa['Amount Credit']) +  np.sum(aaa['Amount Debit'])  )

In [ ]:
idens=("TRANSFER TO LOAN","TRANSFER TO SHARE 0009")
Category="ToHELOC"
Spending(All=aaa,Category=Category,idens=idens)

In [ ]:
idens=("FROM LOAN",)
Category="FromHELOC"
Spending(All=aaa,Category=Category,idens=idens)
print("From HELOC 2 <==", np.sum(FromHELOC['Amount Credit']))

In [ ]:
#Codes for fast-food, restaruarnts and brew pubs
restoran=("5812 %%","5813 %%","5814 %%","Long s Peak Pub".upper(),"URBAN THAI","NOODLES","SOUTHERN SUN",)
Category="EatingOut"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("5399 %%", "5411 %%", "5422 %%",  "5462 %%",  "5499 %%",
          "WHOLEFDS","SOOPERS","SPROUTS","SAFEWAY", "LONGMONT DAIRY",
          "SAMSCLUB","SAM'S Club".upper(),"SAMS MEMB","TARGET","NATURAL GROCER",
          "CHEESE IMPORTER","WAL-MART","CITY-MARKET","LUCKY'S",)

Category="Groceries"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("CITY OF LONGMONT","XCEL","SPRINT","LIVELY")
Category="PhoneUtilities"
Spending(All=aaa,Category=Category,idens=restoran,write=True)

In [ ]:
#Codes for Kids
restoran=("LUCAS","JOHN","EVA ","CLARA",
          )
Category="Kiddies"
Spending(All=aaa,Category=Category,idens=restoran)

#reset counter
#So here we see function could need an "exclude" option

In [ ]:

#Codes for liquor stores"
restoran=("5921 %%","LIQUOR")
Category="Liquor"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
common_list = set(Groceries.index).intersection(EatingOut.index)
AccountedForSet=set(Groceries.index).union(EatingOut.index,Liquor.index,Kiddies.index,
                    ToHELOC.index,PhoneUtilities.index)
UnAccountedForSet=set(aaa.index).difference(AccountedForSet)

# returns items present only in set A
# print(A.difference(B)) 

UnAccountedForIdx=list(UnAccountedForSet)
AccountedForIdx=list(AccountedForSet)

UnAccountedFor=aaa.loc[UnAccountedForIdx]
AccountedFor=aaa.loc[AccountedForIdx]
print("Accounted for.    ===>",np.sum(AccountedFor['Amount Debit']))
print("Still unaccounted ===>",np.sum(UnAccountedFor['Amount Debit']))

In [ ]:
#Codes "
restoran=("PENNYMAC",)
Category="PennyMac"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("TIAA-CREF","BEST BUY","PAYOFF","NASA FCU","APPLECARD","SALLIE MAE",)
Category="OtherFixed"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("GEICO",)
Category="GEICO"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("5511 %%", "5521 %%","5532 %%","5533 %%","CIRCLE K","5541 %%","5542 %%","LOAF N JUG",
          "SHELL SERVICE","MOTOR VEHICLE","FOWLER OF LONGMONT","BOWEN STREET GARAGE","LOVE'S","MURPHY",
          "O'REILLY",)
Category="CarsFuel"
Spending(All=aaa,Category=Category,idens=restoran,write=True)

In [ ]:
#Codes "
restoran=("GUARDIAN",)
Category="GuardianStorage"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("KAREN BRICKEN","BE CENTER",)
Category="KarenBricken"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("HOME DEPOT","LOWE'S","ACE HARDWAR","SLADE GLASS","BED BATH","5992 %%",
          "5193 %%", "5261 %%","BIN THERE DUMP","SUMMIT TREE CARE","TEE GEE ROOTER",
          "BEDBATH",)
Category="HomeHardware"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("MURDOCH","BROWNS SHOE","KOHLS","5931 %%","MACY'S","DICK'S",
          "DILLARDS","MARSHALLS","JOANN","THREAD","DSW","YARN",)
Category="Clothes"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("OFFICE","STAPLES",)
Category="Office"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("1313 A SALON","ULTA","BARBER","ALLURE NAIL","NAILS","FLOYD'S")
Category="HairCare"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("HOTEL","AIRBNB","5947 %%","HOT SPRINGS",)
Category="Hotels"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
#Codes "
restoran=("FRONTIER","SPIRIT AIR","SPIRITAIR","FLIGHTHUB","AIR CANADA","AMERICAN AIR","LUFTHANSA","UNITED",)
Category="Airlines"
Spending(All=aaa,Category=Category,idens=restoran)

In [ ]:
AccountedForSet=set(AccountedFor.index).union(PennyMac.index,OtherFixed.index,
                    GEICO.index,KarenBricken.index,GuardianStorage.index,
                    CarsFuel.index,HomeHardware.index,Clothes.index,Office.index,
                    HairCare.index,Hotels.index,Airlines.index)
UnAccountedForSet=set(aaa.index).difference(AccountedForSet)

# returns items present only in set A
# print(A.difference(B)) 

UnAccountedForIdx=list(UnAccountedForSet)
AccountedForIdx=list(AccountedForSet)

UnAccountedFor=aaa.loc[UnAccountedForIdx]
AccountedFor=aaa.loc[AccountedForIdx]
print("Accounted for.    ===>",np.sum(AccountedFor['Amount Debit']))
print("Still unaccounted ===>",np.sum(UnAccountedFor['Amount Debit']))

In [ ]:
#Codes "
restoran=("AMZN","PRIME VIDEO","AMAZON","APPLE","ROKU","HBO","DISNEY","5818 %%",
         "NETFLIX","SPOTIFY",)
Category="Prime"
Spending(All=UnAccountedFor,Category=Category,idens=restoran,write=True)

In [ ]:
#Codes "
restoran=("KUVO","ORNIT","WIKIMEDIA",)
Category="Donation"
Spending(All=UnAccountedFor,Category=Category,idens=restoran,write=True)

In [ ]:
#Codes "
restoran=("KAISER","WALGREEN","PHARM","8099 %%",)
Category="Pharma"
Spending(All=UnAccountedFor,Category=Category,idens=restoran,write=True)

In [ ]:
#Codes "
restoran=("DENTIST","USANA","PERIO","8021 %%",)
Category="MiscHealth"
Spending(All=UnAccountedFor,Category=Category,idens=restoran,write=True)

In [ ]:
#Codes "
restoran=("WELLS FARGO BAN","GUITAR","GRAVITY PICK",)
Category="Guitar"
Spending(All=UnAccountedFor,Category=Category,idens=restoran,write=True)

In [ ]:
#Codes "
restoran=("PETSMART","VALLEY VET","PETCO",)
Category="Animals"
Spending(All=UnAccountedFor,Category=Category,idens=restoran,write=True)

In [ ]:
ResidSet=set(UnAccountedFor.index).difference(
         set(Prime.index).union(Donation.index,Pharma.index,Guitar.index,Animals.index,
            MiscHealth.index))

#UnAccountedForIdx=list(UnAccountedForSet)
#UnAccountedFor=UnAccountedFor.loc[UnAccountedForIdx]
#UnAccountedFor.sort_values(by=['Amount Debit'],ascending=True,inplace=True)
#UnAccountedFor.to_csv('/Users/juliob/Desktop/grocer/UnAccounted.csv')

In [ ]:
ResidIdx=list(ResidSet)
Resid=UnAccountedFor.loc[ResidIdx]
print("Residual.    ===>",np.sum(Resid['Amount Debit']))

In [ ]:
#UnAccountedFor.sort_values(by=['Amount Debit'],ascending=True,inplace=True)
#UnAccountedFor.to_csv('/Users/juliob/Desktop/grocer/UnAccounted.csv')
Resid.sort_values(by=['Amount Debit'],ascending=True,inplace=True)
Resid.to_csv('/Users/juliob/Desktop/grocer/Residual.csv')
Prime.to_csv('/Users/juliob/Desktop/grocer/Prime.csv')

In [ ]:
soo=-UnAccountedFor['Amount Debit']
print(len(soo))
soo=-Resid['Amount Debit']
print(len(soo))
#soo=-Prime['Amount Debit']
#print(len(soo))

In [ ]:
#Codes "
Checks(All=Resid,write=True)

In [ ]:
bnum=11000
bin=np.linspace(0,11000.,num=bnum)
abin=0.5*(bin[1:]+bin[0:bnum-1])
print(np.shape(abin))

hoo=np.histogram(soo,bins=bin)

print(np.sum(hoo[0]*abin))
ahoo=np.cumsum(hoo[0]*abin)
#print(hoo[1])
#plt.plot(abin,ahoo)
#plt.xlim(0,1000)
plt.plot(abin,ahoo)
plt.xlim(0,1000)
plt.ylim(0,100000.)
plt.xlim(0,300)
plt.ylim(0,20_000.)

In [ ]:
bnum=11000
bin=np.linspace(0,11000.,num=bnum)
abin=0.5*(bin[1:]+bin[0:bnum-1])
print(np.shape(abin))

hoo=np.histogram(soo,bins=bin)

ahoo=np.cumsum(hoo[0])
plt.plot(abin,ahoo)
plt.xlim(0,1000)
plt.ylim(0,1000.)

In [ ]:
#plt.plot( g['Amount Debit'])
print(np.sum( g1['Amount Debit'] )+ np.sum(g2['Amount Debit']) + np.sum(g3['Amount Debit']) 
      + np.sum(g4['Amount Debit'] ) )

In [ ]:
soo= -aaa['Amount Debit']
poo= aaa['Amount Credit']
aaa['Date']=pd.to_datetime( aaa['Date'] )
#plt.plot(soo)
print(np.sum(soo))
print(np.sum(poo))
aaa['Date'].dt.month[10]

dates = aaa['Date']

for imo in np.arange(11):
    month=imo+1
    zz=np.where(dates.dt.month==month)
    print(np.shape(zz))
    dates[zz[0][0]]
    bbb=aaa.iloc[zz[0]]
    x=np.sum(bbb['Amount Debit'])
    y=np.sum(bbb['Amount Credit'])
    print(  "month", month," debits=", f'{ x:.1f}', " credits=", f'{ y:.1f}' )

In [ ]:
gto=[g1,g2,g3,g4]

In [ ]:
roo=pd.concat( gto )

In [ ]:
file='/Users/juliob/Desktop/grocer/AllStores.csv'

In [ ]:
roo.to_csv(file)

In [ ]:
print((np.sum( g1['Amount Debit'] )+ np.sum(g2['Amount Debit']) + np.sum(g3['Amount Debit']) 
      + np.sum(g4['Amount Debit'] ) )/4.5)