Elena's school data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import seaborn as sn
import datetime

In [ ]:
filn='/Users/juliob/myPythonTools/Datasets_2/ColoradoSchools.xlsx'

In [ ]:
df=pd.read_excel( filn )

In [ ]:
y=df['Immigrant']

In [ ]:
good=np.where( y != '*' )
#plt.plot(y)

In [ ]:
print(np.shape(y))

In [ ]:
plt.plot(y[good[0]])

In [ ]:
columns=df.columns
print(np.shape(columns))

In [ ]:
qq=np.asarray( df )
print(np.shape(qq))
print( qq[10,:] )
print( (df.iloc[10]))

In [ ]:
qq=np.asarray(df)
columns=df.columns
G=np.shape(qq)
print(G)
print(columns)

In [ ]:
# "Heal" data from Pandas DataFrame
# Goes row by row (Nrows=G[0])
for idx in np.arange(G[0]):
#for idx in [10]:
    qq0=qq[idx,:]
    #print(qq0)
    bad=np.where( qq0 == '*')  # | df[icol]=='NA' )
    qq0[bad[0]]=-99999.
    #print(qq0)
    qq[idx,:]=qq0
    #print(qq[idx,:])

In [ ]:
df2 = pd.DataFrame( qq , columns=columns )

In [ ]:
print(qq[10,:])
print( (df2.iloc[10]))

In [ ]:
plt.plot( df2["Gifted and Talented"]/df2["PK-12 Total Enrollment"])
plt.plot( df2["Special Education"]/df2["PK-12 Total Enrollment"])
plt.plot( df2["Total Minority Count"]/df2["PK-12 Total Enrollment"])
plt.ylim(0,1)

In [ ]:
y1 = df2["Gifted and Talented"]/df2["PK-12 Total Enrollment"]
y2 = df2["Special Education"]/df2["PK-12 Total Enrollment"]
y3 = df2["Total Minority Count"]/df2["PK-12 Total Enrollment"]
y4 = df2["Total Minority Count"]/df2["PK-12 Total Enrollment"]
counts1, bins = np.histogram(y1,range=(0,.3),bins=15)
counts2, bins = np.histogram(y2,range=(0,.3),bins=15)
counts3, bins = np.histogram(y3,range=(0,.3),bins=15)
plt.stairs(counts1,bins)
plt.stairs(counts2,bins)

In [ ]:
plt.scatter(y1,y2)
#plt.xlim(0,.3)
#plt.ylim(0,.3)